* {
    margin: 0
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8e8e8;
    color: #5a3e36;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #5a3e36;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo {
    margin-right: 2%;
    width: 100px;
}

.frase {
    font-size: 1.5rem;
}

.content {
    margin-top: 3%;
}

.txtP {
    margin-bottom: 2%;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}

.product {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    box-sizing: border-box;
}

.bn632-hover {
    width: 160px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 10px auto;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 2%;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn22 {
    background-image: linear-gradient(to right,
            #0ba360,
            #3cba92,
            #30dd8a,
            #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.botao {
    width: 160px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #32CD32;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 2%;
}

.botao:hover {
    background-color: #00ff11;
    transform: scale(1.05);
}

.imageProduct {
    margin-top: 1%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.infoProduct {
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulo {
    margin: 5px;
    padding: 0;
}

.txt {
    margin: 5px;
    padding: 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #5a3e3e;
    margin-left: auto;
    /* Empurra o preço para a direita */
    display: flex;
    align-items: center;
    /* Centraliza verticalmente */
}

.imgzap {
    width: 24px;
    height: 24px;
}

/*Div Sugestão*/
.sugestao {
    display: inline-block;
    align-items: center;
    /* Centraliza verticalmente */
    width: 50%;
    /* Ajuste conforme necessário */
    padding: 20px;
    margin: 20px auto;
    background-color: #5a3e3e;
    border-radius: 10px;
    color: white;
}

/*Estilização do Título da Div Sugestões*/
.sTitulo {
    color: white;
    font-size: 2.3em;
}

/*Div Texto e Imagem Sugestões */
.textoEimagem {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

/*Estilzação do Texto de Sugestões*/
.sTxt {
    color: white;
    font-size: 1.6em;
    margin: auto;
    text-align: center;
    /* Alinha o texto à esquerda */
    width: 60%;
    /* Para não encostar nas bordas */
    margin-left: 4%;
}

/*Estilzação da Imagem de Sugestões*/
.imgsug {
    width: 230px;
    height: 230px;
    margin-right: 3%;
}

.spanErro {
    display: block;
}

button {
    font-size: 1.0rem;
    width: 190px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #d17878;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.botaos:hover {
    background-color: #b96565;
    transform: scale(1.05);
}

#sugestaoForm {
    margin-top: 10px;
    padding: 10px;
    background-color: #5a3e3e;
    border-radius: 5px;
}

/*Footer*/
footer {
    margin-top: 3%;
    color: white;
    background-color: #5a3e3e;
    padding: 20px;
}

/*Resposividade para telas menores que 767px*/
@media (max-width: 767px) {
    .sugestao {
        width: 80%;
    }

    .textoEimagem {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .botaos {
        width: 80%;
    }

    .sTxt {
        width: 80%;
        margin-left: 12%;
        margin-bottom: 6%;
    }

    .imgsug {
        margin: auto;
    }
}

/*Resposividade para telas menores que 1024px*/
@media (max-width: 1024px) {
    .sugestao {
        width: 80%;
    }
}