* {
    margin: 0px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #FFFBEA;
    color: #8D5A44;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #8D5A44;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}

.logo {
    margin-left: 100px;
    width: 100px;
    margin-right: 130px;
}

.frase {
    justify-content: left;
    font-family: "Sofia", sans-serif;
    font-size: 2.3rem;
}

.background-section {
    background-color: #8D5A44;
    width: 100%;
    height: 95vh; /* Tamanho do Backgroud */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
    justify-content: space-evenly;
    border-bottom-left-radius: 1000px 450px;
    border-bottom-right-radius: 1000px 450px;
}

.slogan {
    color: white; 
    font-size: 2.8rem;
}

.imgSlogan {
    width: 450px;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.content {
    display: flex;
    flex-direction: column;
}

.txtP {
    margin-top: 170px;
    margin-bottom: 35px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.product {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    box-sizing: border-box;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 30px;
    padding: 10px 20px;
    background-color: #E38B40;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    width: 190px;
    height: 50px;
    font-size: 1.1rem;
    border: 0;
    margin-right: 100px;

}

.botao:hover {
    background-color: #CC7722;
    transform: scale(1.05);
}

.imageProduct {
    margin-top: 1%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.infoProduct {
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulo {
    margin: 5px;
    padding: 0;
}

.txt {
    margin: 5px;
    padding: 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #5a3e3e;
    margin-left: auto;
    /* Empurra o preço para a direita */
    display: flex;
    align-items: center;
    /* Centraliza verticalmente */
}

.imgzap {
    width: 30px;
    height: 30px;
}

/*Div Sugestão*/
.sugestao {
    display: inline-block;
    align-items: center; /* Centraliza verticalmente */
    width: 50%; /* Ajuste conforme necessário */
    padding: 20px;
    margin: 20px auto;
    background-color: #8D5A44;
    border-radius: 10px;
    color: white;
    margin-top: 50px;
}

/*Estilização do Título da Div Sugestões*/
.sTitulo {
    color: white;
    font-size: 2.3em;
}

/*Div Texto e Imagem Sugestões */
.textoEimagem {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

/*Estilzação do Texto de Sugestões*/
.sTxt {
    color: white;
    font-size: 1.6em;
    margin: auto;
    text-align: center;
    /* Alinha o texto à esquerda */
    width: 60%;
    /* Para não encostar nas bordas */
    margin-left: 4%;
}

/*Estilzação da Imagem de Sugestões*/
.imgsug {
    width: 230px;
    height: 230px;
    margin-right: 3%;
}

/*Mensagem de erro caso os campos das sugestões não estejam preenchidos*/
.spanErro {
    display: block;
}

/*Estilização dos botões de sugestão*/
.botaoSug {
    font-size: 1.0rem;
    width: 190px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #E38B40;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.botaoSug:hover {
    background-color: #CC7722;
    transform: scale(1.05);
}
/*Configurações do Formulário de Sugestões*/
/*Para retirada do botão de abertura do formulário, editar o código do form para:
display: flex;
flex-direction: column;
align-items: center;
*/
form {
    display: none;
}

/*Estilização do fomrulário de sugestões*/
#sugestaoForm {
    margin-top: 10px;
    padding: 10px;
    background-color: #8D5A44;
    border-radius: 5px;
}

/*Footer*/
footer {
    margin-top: 3%;
    color: white;
    background-color: #8D5A44;
    padding: 20px;
}

/*Resposividade para telas menores que 767px*/
@media (max-width: 767px) {
    header {
    justify-content: space-around;
    }

    .logo {
        margin-left: 0;
        margin-right: 0;
    }

    .frase {
        font-size: 1.4rem;
    }

    .botao {
        width: 12%;
        margin-right: 10px;
    }

    .txtBotao{
        display: none;
    }

    .background-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .bolinho{
        margin-top: 80px;
    }

    .sloganBotao {
        margin-bottom: 30px;
    }

    .slogan {
        font-size: 1.2rem;
        width: 180px;
    }

    .imgSlogan {
        width: 200px;
    }

    .product-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
    }

    .sugestao {
        width: 80%;
    }

    .textoEimagem {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .botaos {
        width: 80%;
    }

    .sTxt {
        width: 80%;
        margin-left: 12%;
        margin-bottom: 6%;
    }

    .imgsug {
        margin: auto;
    }
}

/*Resposividade para telas maiores que 767px e menores que 1024px*/
@media (min-width: 767px) and (max-width: 1023px) {
    header {
        justify-content: space-around;
    }

    .logo {
        margin-left: 0;
        margin-right: 0;
    }

    .botao{
        width: 20%;
        margin-right: 10px;
    }

    .frase {
        margin-left: 10%;
        font-size: 1.8rem;
    }

    .slogan {
       width: 410px;
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 900px;
        margin: auto;
    }

    .sugestao {
        width: 80%;
    }

}
